This notebook reformats stadium capacity data.

In [1]:
import pandas as pd

df = pd.read_csv("StadiumCapacities.csv")

In [2]:
df = df.set_index('Team')
df

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Team,,,,,,,,,,,,,,,,,
Air Force,52480.0,52480.0,52480.0,52480.0,52480.0,46692.0,46692.0,52480.0,46692.0,46692.0,46692.0,46692.0,46692.0,"46,692","46,692","46,692","46,692"
Akron,31000.0,31000.0,31000.0,31000.0,31000.0,31000.0,31000.0,35202.0,35202.0,30000.0,30000.0,27881.0,30000.0,"30,000","30,000","30,000","30,000"
Alabama,83818.0,83818.0,83818.0,83818.0,83818.0,92138.0,92138.0,92138.0,92138.0,92138.0,92138.0,101821.0,92138.0,"101,821","101,821","101,821","101,821"
Appalachian St.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"24,050","23,150","23,150"
Arizona,56002.0,56002.0,56002.0,56002.0,56002.0,56002.0,56002.0,57803.0,57803.0,57803.0,57803.0,57000.0,57803.0,"56,037","56,037","56,029","56,029"
Arizona St.,73656.0,73656.0,73656.0,73656.0,73656.0,73656.0,73656.0,71706.0,71706.0,73656.0,73656.0,73656.0,73656.0,"73,656","67,704","64,248","64,248"
Arkansas,72000.0,72000.0,72000.0,72000.0,72000.0,72000.0,72000.0,72000.0,72000.0,72000.0,72000.0,72000.0,72000.0,"72,000","72,000","72,000","72,000"
Arkansas St.,30406.0,30406.0,30406.0,30406.0,30406.0,30406.0,30406.0,33410.0,30406.0,30708.0,30708.0,30708.0,30708.0,"30,708","30,708","30,708","30,708"
Army,38115.0,38115.0,38115.0,38115.0,38115.0,38115.0,38115.0,39929.0,39929.0,39929.0,39929.0,38000.0,39929.0,"38,000","38,000","38,000","38,000"
Auburn,87451.0,87451.0,87451.0,87451.0,87451.0,87451.0,87451.0,87451.0,87451.0,87451.0,87451.0,87451.0,87451.0,"87,451","87,451","87,451","87,451"
Ball St.,22500.0,22500.0,22500.0,22500.0,22500.0,22500.0,22500.0,22500.0,22500.0,22500.0,22500.0,29250.0,22500.0,"22,500","22,500","22,500","22,500"
Baylor,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,50000.0,"50,000","50,000","45,140","45,140"
Boise St.,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,32000.0,32000.0,32000.0,33500.0,32000.0,"36,387","36,387","36,387","36,387"
Boston College,44500.0,44500.0,44500.0,44500.0,44500.0,44500.0,44500.0,44500.0,44500.0,44500.0,44500.0,44500.0,44500.0,"44,500","44,500","44,500","44,500"
Bowling Green,28599.0,28599.0,28599.0,28599.0,28599.0,23724.0,23724.0,30599.0,24000.0,24000.0,24000.0,24000.0,24000.0,"24,000","24,000","24,000","24,000"
Buffalo,29013.0,29013.0,29013.0,29013.0,29013.0,29013.0,29013.0,64045.0,29013.0,29013.0,29013.0,29013.0,29013.0,"29,013","29,013","29,013","29,013"
BYU,64045.0,64045.0,64045.0,64045.0,64045.0,64045.0,64045.0,30000.0,64045.0,64045.0,64045.0,64045.0,64045.0,"64,045","64,045","64,045","64,045"
California,67537.0,67537.0,67537.0,67537.0,67537.0,67537.0,67537.0,67537.0,72516.0,71799.0,71799.0,45000.0,71799.0,"63,186","62,467","62,467","62,467"
Central Mich.,30199.0,30199.0,30199.0,30199.0,30199.0,30199.0,30199.0,30199.0,30255.0,30255.0,30255.0,30255.0,30255.0,"30,255","30,255","30,255","30,255"
Charlotte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"15,314","15,314"
Cincinnati,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,35000.0,"35,000","35,000","35,000","35,000"
Clemson,81473.0,81473.0,81473.0,81473.0,81473.0,80301.0,80301.0,81473.0,81500.0,80301.0,80301.0,81500.0,80301.0,"81,500","81,500","81,500","81,500"
Colorado,53750.0,53750.0,53750.0,53750.0,53750.0,53750.0,53750.0,50942.0,50942.0,53613.0,53613.0,53613.0,53613.0,"53,613","53,613","50,183","50,183"
Colorado St.,30000.0,30000.0,30000.0,30000.0,30000.0,34400.0,34400.0,30000.0,30000.0,34400.0,32500.0,32500.0,32500.0,"32,500","32,500","32,500","32,500"
Duke,33941.0,33941.0,33941.0,33941.0,33941.0,33941.0,33941.0,33941.0,33941.0,33941.0,33941.0,33941.0,33941.0,"33,941","33,941","33,941","33,941"
East Carolina,43000.0,43000.0,43000.0,43000.0,43000.0,43000.0,43000.0,43000.0,43000.0,43000.0,50000.0,50000.0,50000.0,"50,000","50,000","50,000","50,000"
Eastern Mich.,30200.0,30200.0,30200.0,30200.0,30200.0,30200.0,30200.0,30200.0,30200.0,30200.0,30200.0,30200.0,30200.0,"30,200","30,200","30,200","30,200"
FIU,NaN,NaN,NaN,NaN,NaN,17000.0,17000.0,17000.0,18000.0,20000.0,20000.0,20000.0,20000.0,"20,000","20,000","20,000","20,000"
Fla. Atlantic,NaN,NaN,NaN,NaN,20540.0,20540.0,20540.0,20450.0,20450.0,20450.0,29260.0,30000.0,30000.0,"29,495","29,495","29,495","29,495"
Florida,88548.0,88548.0,88548.0,88548.0,88548.0,88548.0,88548.0,88548.0,88548.0,88548.0,88548.0,88548.0,88548.0,"88,548","88,548","88,548","88,548"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Temple,66592.0,66592.0,66592.0,66592.0,66592.0,66592.0,66592.0,68532.0,68532.0,68532.0,68532.0,68532.0,68532.0,"68,532","68,532","68,532","68,532"
Tennessee,104079.0,104079.0,104079.0,104079.0,104079.0,104079.0,104079.0,102038.0,102038.0,100011.0,102459.0,102455.0,102459.0,"102,459","102,455","102,455","102,455"
Texas,80082.0,80082.0,80082.0,80082.0,80082.0,80082.0,80082.0,85123.0,94113.0,94113.0,100119.0,100119.0,100119.0,"100,119","100,119","100,119","100,119"
Texas A&M,82600.0,82600.0,82600.0,82600.0,82600.0,82600.0,82600.0,82600.0,83002.0,83002.0,83002.0,83002.0,82600.0,"82,589","106,300","106,300","106,300"
Texas St.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,"30,000","30,000","30,000","30,000"
Texas Tech,52882.0,52882.0,52882.0,52882.0,52882.0,52882.0,52882.0,52882.0,53774.0,53774.0,53774.0,53774.0,60454.0,"60,454","60,454","60,454","60,454"
Toledo,26248.0,26248.0,26248.0,26248.0,26248.0,26248.0,26248.0,26248.0,26248.0,26248.0,26248.0,26248.0,26248.0,"26,248","26,244","26,244","26,244"
Troy,NaN,NaN,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,30000.0,"30,000","30,000","30,000","30,000"
Tulane,69767.0,69767.0,69767.0,69767.0,69767.0,69767.0,69767.0,69767.0,62556.0,69767.0,69767.0,69767.0,69767.0,"69,767","69,767","69,767","69,767"
Tulsa,35542.0,35542.0,35542.0,35542.0,35542.0,35542.0,35542.0,35542.0,30000.0,30000.0,30000.0,30000.0,30000.0,"30,000","30,000","30,000","30,000"
UAB,83091.0,83091.0,83091.0,83091.0,83091.0,83091.0,83091.0,83091.0,72000.0,72000.0,72000.0,72000.0,72000.0,"72,000","72,000",NaN,NaN
UCF,70188.0,70188.0,70188.0,70188.0,70188.0,65438.0,65438.0,45301.0,45323.0,45323.0,45323.0,45323.0,45000.0,"45,323","45,323","44,206","44,206"
UCLA,91500.0,91500.0,91500.0,91500.0,91500.0,91500.0,91500.0,91500.0,91500.0,91500.0,91136.0,91136.0,91136.0,"91,136","91,136","91,136","91,136"
UConn,NaN,NaN,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,40000.0,"40,000","40,000","40,000","40,000"
UNLV,36800.0,36800.0,36800.0,36800.0,36800.0,36800.0,36800.0,36800.0,36800.0,36800.0,36800.0,36800.0,36800.0,"36,800","36,800","36,800","36,800"
Utah,45634.0,45634.0,45634.0,45634.0,45634.0,45634.0,45634.0,45634.0,45017.0,45017.0,45017.0,45017.0,45634.0,"45,634","45,634","45,807","45,807"
Utah St.,30257.0,30257.0,30257.0,30257.0,30257.0,30257.0,30257.0,30257.0,25513.0,25513.0,25513.0,25513.0,25513.0,"25,513","25,513","22,044","22,044"
UTEP,52000.0,52000.0,52000.0,52000.0,52000.0,51500.0,51500.0,51500.0,51500.0,51500.0,51500.0,51500.0,52000.0,"52,000","52,000","52,000","52,000"
UTSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"65,000","65,000","65,000","65,000"
Vanderbilt,39773.0,39773.0,39773.0,39773.0,39773.0,39773.0,39773.0,39773.0,39773.0,39773.0,39790.0,39773.0,40550.0,"40,330","40,350","40,350","40,350"
Virginia,61500.0,61500.0,61500.0,61500.0,61500.0,61500.0,61500.0,61500.0,61500.0,61500.0,61500.0,61500.0,61500.0,"61,500","61,500","61,500","61,500"
Virginia Tech,66233.0,66233.0,66233.0,66233.0,66233.0,66233.0,66233.0,66233.0,66233.0,66233.0,66233.0,66233.0,65115.0,"65,632","65,632","65,632","65,632"
Wake Forest,31500.0,31500.0,31500.0,31500.0,31500.0,31500.0,31500.0,31500.0,31500.0,31500.0,31500.0,31500.0,31500.0,"31,500","31,500","31,500","31,500"
Washington,72500.0,72500.0,72500.0,72500.0,72500.0,72500.0,72500.0,72500.0,72500.0,72500.0,72500.0,72500.0,72500.0,"70,000","70,138","70,138","70,138"
Washington St.,35117.0,35117.0,35117.0,35117.0,35117.0,35117.0,35117.0,37600.0,37600.0,35117.0,37600.0,35117.0,37600.0,"32,740","32,740","32,740","32,740"
West Virginia,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,60000.0,"60,000","60,000","60,000","60,000"
Western Ky.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17500.0,23000.0,23500.0,22113.0,22113.0,22113.0,"22,113","22,113","22,113","22,113"
Western Mich.,30200.0,30200.0,30200.0,30200.0,30200.0,30200.0,30200.0,30200.0,36000.0,30200.0,30200.0,30200.0,30200.0,"30,200","30,200","30,200","30,200"
Wisconsin,80360.0,80360.0,80360.0,80360.0,80360.0,80360.0,80360.0,80321.0,80321.0,80321.0,80321.0,80321.0,80321.0,"80,321","80,321","80,321","80,321"
Wyoming,32580.0,32580.0,32580.0,32580.0,32580.0,32580.0,32580.0,33500.0,30514.0,30514.0,30514.0,29181.0,30514.0,"29,181","29,181","29,181","29,181"

In [3]:
finalData = df.stack()

finalData

Team
Air Force  2000     52480
           2001     52480
           2002     52480
           2003     52480
           2004     52480
           2005     46692
           2006     46692
           2007     52480
           2008     46692
           2009     46692
           2010     46692
           2011     46692
           2012     46692
           2013    46,692
           2014    46,692
           2015    46,692
           2016    46,692
Akron      2000     31000
           2001     31000
           2002     31000
           2003     31000
           2004     31000
           2005     31000
           2006     31000
           2007     35202
           2008     35202
           2009     30000
           2010     30000
           2011     27881
           2012     30000
                    ...
Wisconsin  2004     80360
           2005     80360
           2006     80360
           2007     80321
           2008     80321
           2009     80321
           2010     80321
           2011     80321
           2012     80321
           2013    80,321
           2014    80,321
           2015    80,321
           2016    80,321
Wyoming    2000     32580
           2001     32580
           2002     32580
           2003     32580
           2004     32580
           2005     32580
           2006     32580
           2007     33500
           2008     30514
           2009     30514
           2010     30514
           2011     29181
           2012     30514
           2013    29,181
           2014    29,181
           2015    29,181
           2016    29,181
Length: 2051, dtype: object

In [4]:
finalData.to_csv("FinalStadiumCapacities.csv")