In [1]:
# loading in packages and data queried from CBA database
import pandas as pd
from pandasql import sqldf

pysqldf = lambda q: sqldf(q, globals())

df = pd.read_csv('~/projects/NFL Five Factors/plays_in_drives.csv', header=0)
turnovers = pd.read_csv('~/projects/NFL Five Factors/turnovers.csv', header=0)
position = pd.read_csv('~/projects/NFL Five Factors/field_position.csv', header=0)
home = pd.read_csv('~/projects/NFL Five Factors/home.csv', header=0)
visiting = pd.read_csv('~/projects/NFL Five Factors/visiting.csv', header=0)

In [2]:
# cleaning
plays = df.fillna(method='ffill')
plays['reverse_play_number_in_drive'] = plays.sort_values(['play_number_in_drive'], ascending = [False]).groupby(['game_id','team','drive_id']).cumcount() + 1
plays['drive_id'].astype('int32')

0         80885
1         80885
2         80885
3         80886
4         80886
5         80886
6         80886
7         80886
8         80886
9         80887
10        80887
11        80887
12        80887
13        80887
14        80887
15        80887
16        80887
17        80887
18        80887
19        80888
20        80888
21        80888
22        80888
23        80888
24        80888
25        80888
26        80889
27        80889
28        80889
29        80889
          ...
106362    99641
106363    99641
106364    99641
106365    99641
106366    99641
106367    99641
106368    99642
106369    99642
106370    99642
106371    99643
106372    99643
106373    99643
106374    99644
106375    99644
106376    99644
106377    99645
106378    99645
106379    99645
106380    99646
106381    99646
106382    99646
106383    99647
106384    99647
106385    99647
106386    99648
106387    99648
106388    99648
106389    99649
106390    99649
106391    99649
Name: drive_id, Length: 106392, dtype: int32

In [3]:
# this query finds the number of points scored in each drive
q = """
SELECT points_scored,
       drive_id
FROM plays
WHERE reverse_play_number_in_drive = 1
"""

drivepoints = pysqldf(q)

In [4]:
# this query finds the number of points scored per scoring opportunity
q2 = """
SELECT game_id,
       team,
       AVG(points_scored) AS points_per_trip_inside_forty,
       season
FROM (
        SELECT DISTINCT
               p.game_id,
               p.team,
               p.drive_id,
               p.season,
               CASE WHEN p.yardline >= 60 THEN 1
                    ELSE 0
                    END AS scoring_zone,
               p.points_scored

        FROM plays p
        JOIN
            (SELECT game_id,
                    drive_id,
                    team,
                    points_scored
             FROM plays
             WHERE reverse_play_number_in_drive = 1) a ON a.game_id = p.game_id
                                                      AND a.drive_id = p.drive_id
                                                      AND a.team = p.team
        WHERE scoring_zone = 1)

GROUP BY game_id,
         team,
         season
"""

ppo = pysqldf(q2)

In [5]:
# this query finds the expected points of a drive by down, distance, and yardline
q3 = """
SELECT p.down,
       p.distance,
       p.yardline,
       AVG(d.points_scored) AS exp_points
FROM plays p
JOIN drivepoints d ON d.drive_id = p.drive_id
GROUP BY p.down,
         p.distance, 
         p.yardline
"""

lookup = pysqldf(q3)

In [6]:
# this query finds the expected points for each play

q4 = """
SELECT p.team,
       p.game_id,
       p.play_number_in_drive,
       p.drive_id,
       p.points_scored,
       l.exp_points
FROM plays p
JOIN lookup l ON l.down = p.down
             AND l.distance = p.distance
             AND l.yardline = p.yardline

"""

expected = pysqldf(q4)

In [7]:
# this query success rate by team and game

q5 = """
SELECT s.team,
       s.game_id,
       AVG(s.success) AS success_rate
FROM
(SELECT e.team,
       e.game_id,
       e.play_number_in_drive,
       e.drive_id,
       e.exp_points,
       e2.exp_points AS next_exp_points,
       CASE WHEN e.points_scored > 0 THEN 1
            WHEN e.exp_points <= e2.exp_points THEN 1
            ELSE 0
       END AS success
FROM expected e
LEFT JOIN expected e2 ON e.drive_id = e2.drive_id
                  AND e.play_number_in_drive = (e2.play_number_in_drive - 1)) s
GROUP BY s.team,
         s.game_id
"""

success = pysqldf(q5)

In [8]:
# this query finds average gained expected points on successful plays

q6 = """
SELECT s.team,
       s.game_id,
       AVG((CASE WHEN s.points_scored > 0 THEN points_scored ELSE s.next_exp_points END) - s.exp_points) AS explosiveness
FROM
(SELECT e.team,
       e.game_id,
       e.play_number_in_drive,
       e.drive_id,
       e.points_scored,
       e.exp_points,
       e2.exp_points AS next_exp_points,
       CASE WHEN e.points_scored > 0 THEN 1
            WHEN e.exp_points <= e2.exp_points THEN 1
            ELSE 0
       END AS success
FROM expected e
LEFT JOIN expected e2 ON e.drive_id = e2.drive_id
                  AND e.play_number_in_drive = (e2.play_number_in_drive - 1)) s
WHERE s.success = 1
GROUP BY s.team,
         s.game_id
"""

explode = pysqldf(q6)

In [9]:
# this query brings all of the data together, ready for analysis

q7 = """
SELECT s.team,
       s.game_id,
       s.success_rate,
       e.explosiveness,
       ppo.points_per_trip_inside_forty,
       t.turnover_diff,
       p.average_starting_field_position,
       COALESCE(h.win, v.win) AS win
       
FROM success s
JOIN ppo ON ppo.team = s.team AND ppo.game_id = s.game_id
JOIN explode e ON e.team = s.team AND e.game_id = s.game_id
JOIN turnovers t ON t.team = s.team AND t.game_id = s.game_id
JOIN position p ON p.team = s.team AND p.game_id = s.game_id
LEFT JOIN home h ON h.home_team = s.team AND h.game_id = s.game_id
LEFT JOIN visiting v ON v.visiting_team = s.team AND v.game_id = s.game_id 

WHERE COALESCE(h.win, v.win) IS NOT NULL
"""

data = pysqldf(q7)

data

,team,game_id,success_rate,explosiveness,points_per_trip_inside_forty,turnover_diff,average_starting_field_position,win
0,ARI,3468,0.520548,0.692724,2.125000,0,19.0909,0
1,ARI,3490,0.418182,0.951266,2.333333,-1,28.5455,0
2,ARI,3511,0.406250,0.842687,1.625000,0,35.5714,1
3,ARI,3545,0.492537,1.102752,3.250000,-2,20.5333,0
4,ARI,3609,0.506667,1.049977,2.500000,2,23.3571,1
5,ARI,3638,0.591549,0.824699,2.333333,-3,18.7692,0
6,ARI,3674,0.534247,0.839556,2.500000,2,31.4167,1
7,ARI,3690,0.467532,0.914366,1.416667,-2,31.8667,1
8,ARI,3745,0.507692,0.581331,1.900000,3,33.0000,1
9,ARI,3794,0.305085,1.122533,2.166667,2,29.0000,0
10,ARI,3826,0.520548,0.852463,2.666667,-1,23.8000,1
11,ARI,3847,0.478261,1.090061,3.500000,1,34.0000,1
12,ARI,3893,0.327273,0.890789,1.000000,-1,20.4000,0
13,ARI,3911,0.509434,0.634598,2.750000,-2,19.1000,0
14,ARI,3931,0.397059,0.672988,1.200000,2,29.6154,1
15,ARI,3976,0.471429,0.994063,1.666667,-3,20.1111,0
16,ARI,3979,0.314815,1.131623,2.333333,0,34.9333,0
17,ARI,4011,0.516667,1.131849,3.500000,0,30.5000,1
18,ARI,4062,0.489362,1.475802,4.375000,6,36.9286,1
19,ARI,4069,0.492754,0.967822,1.300000,-3,25.1667,0
20,ARI,4098,0.506173,1.054027,2.250000,-2,29.3846,1
21,ARI,4134,0.490385,1.114504,2.307692,-2,30.2143,1
22,ARI,4162,0.476190,0.870111,2.111111,2,28.4000,1
23,ARI,4168,0.506173,1.058764,1.928571,1,17.0833,1
24,ARI,4212,0.552632,0.905997,2.363636,4,28.4167,1
25,ARI,4255,0.476923,1.156526,2.500000,-5,25.6923,0
26,ATL,3464,0.428571,1.088074,2.428571,-1,26.1818,0
27,ATL,3498,0.473684,0.845759,2.090909,0,29.5556,0
28,ATL,3573,0.445455,1.188365,1.625000,-3,27.1538,0
29,ATL,3578,0.469388,0.744772,2.500000,-2,18.4167,0
...,...,...,...,...,...,...,...,...
778,TEN,4104,0.437500,0.778638,1.200000,-3,24.1538,0
779,TEN,4112,0.528571,1.064908,2.250000,1,26.3077,1
780,TEN,4136,0.470588,0.905181,1.625000,1,19.4167,0
781,TEN,4187,0.400000,0.864280,0.000000,-1,19.3636,0
782,TEN,4204,0.393443,0.930484,1.666667,-2,28.3571,0
783,TEN,4236,0.440678,1.004926,3.428571,0,28.9231,0
784,WAS,3480,0.426230,1.435383,2.222222,0,24.4545,0
785,WAS,3515,0.523077,0.840495,2.428571,2,25.0769,1
786,WAS,3546,0.435294,1.018808,1.125000,-1,21.5833,0
787,WAS,3572,0.422535,0.783380,1.166667,-1,26.2857,0
788,WAS,3589,0.573034,1.041405,2.454545,1,25.1111,0
789,WAS,3612,0.456522,1.086780,0.000000,-2,20.0000,0
790,WAS,3668,0.464789,0.990676,1.900000,-5,27.8571,0
791,WAS,3703,0.350649,0.668620,1.000000,-1,29.5294,0
792,WAS,3733,0.492063,0.983711,1.500000,-1,20.1818,0
793,WAS,3764,0.552941,1.045411,2.454545,0,26.0000,0
794,WAS,3810,0.555556,0.743923,2.166667,-4,19.9286,0
795,WAS,3843,0.535211,1.135548,1.818182,1,26.9091,1
796,WAS,3850,0.552632,0.901616,2.600000,-1,26.0833,0
797,WAS,3895,0.440678,0.752171,2.166667,2,26.1667,0
798,WAS,3903,0.437500,1.225545,2.000000,2,33.0000,0
799,WAS,3939,0.444444,0.842078,1.444444,0,23.2500,0
800,WAS,4022,0.458333,1.286170,1.555556,-3,18.0000,0
801,WAS,4056,0.466667,0.852686,2.714286,1,29.1818,0
802,WAS,4068,0.468750,0.768905,1.857143,1,28.5833,0
803,WAS,4111,0.423729,0.718740,2.000000,0,23.7778,0
804,WAS,4145,0.395833,1.055429,0.000000,-5,26.0833,0
805,WAS,4192,0.552632,1.100469,2.666667,0,22.3636,1
806,WAS,4215,0.506494,1.072732,2.818182,2,27.4286,1
807,WAS,4237,0.476923,1.366441,2.700000,4,30.8462,1

In [10]:
data.describe()

,game_id,success_rate,explosiveness,points_per_trip_inside_forty,turnover_diff,average_starting_field_position,win
count,808.000000,808.000000,808.000000,808.000000,808.000000,808.000000,808.000000
mean,3851.237624,0.477425,0.955763,2.161157,0.017327,27.161563,0.429455
std,234.253748,0.063212,0.168097,0.781114,1.901463,5.703658,0.495305
min,3456.000000,0.285714,0.511849,-1.400000,-5.000000,14.666700,0.000000
25%,3648.750000,0.437280,0.840619,1.710714,-1.000000,23.166700,0.000000
50%,3851.500000,0.478873,0.938523,2.166667,0.000000,26.400000,0.000000
75%,4054.250000,0.520548,1.055926,2.625000,1.000000,30.339250,1.000000
max,4256.000000,0.644737,1.739314,7.000000,6.000000,49.166700,1.000000